<div class="site-header">
    <nav class="site-nav">
      <a class="page-link" href="{{ site.baseurl }}/">Home</a>
      <a class="page-link" href="{{ site.baseurl }}/evil.html">/e/vil</a>
      <a class="page-link" href="{{ site.baseurl }}/about.html">About</a>
    </nav>
</div>
